body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header{
  background-color: azure;
}

nav{
  display: inline-block;
  width: 80%;
  background-color:aquamarine;
}

nav img{
  width: 10%;
}

main{
  background-color: beige;
  font-size: 100%;
}

footer{
  background-color: antiquewhite;
}

/*li{
  display:inline-block;
    width: 27%;
    text-align: center;
}
*/

h1{
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  color: bisque;
}

p{
  line-height: 150%;
} 

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
}
